{
  "openapi": "3.1.0",
  "info": {
    "title": "CSGOEmpire API",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://csgoempire.com/api/v2/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-default": "",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/metadata/socket": {
      "get": {
        "summary": "Metadata",
        "description": "Returns the user object, which is used to identify via websocket, as well as socket token (authorizationToken) & socket signature (signature) which are used to authenticate on the websocket.",
        "operationId": "metadata",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"user\": {\n        \"id\": 303119,\n        \"steam_id\": \"76561198106192114\",\n        \"steam_id_v3\": \"145926386\",\n        \"steam_name\": \"Artemis\",\n        \"avatar\": \"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4f/4f619bc788f0d41261d2a5ced0e96a281af88479_full.jpg\",\n        \"profile_url\": \"https://steamcommunity.com/id/G0FastMen/\",\n        \"registration_timestamp\": \"2016-07-27 23:20:03\",\n        \"registration_ip\": \"0.0.0.0\",\n        \"last_login\": \"2021-11-29 13:02:54\",\n        \"balance\": 0,\n        \"total_profit\": 0,\n        \"total_bet\": 0,\n        \"betback_total\": 0,\n        \"bet_threshold\": 0,\n        \"total_trades\": 0,\n        \"total_deposit\": 0,\n        \"total_withdraw\": 0,\n        \"withdraw_limit\": 0,\n        \"csgo_playtime\": 0,\n        \"last_csgo_playtime_cache\": \"2016-07-27 23:20:03\",\n        \"trade_url\": \"https://steamcommunity.com/tradeoffer/new/?partner=145926386&token=ABCDEF\",\n        \"trade_offer_token\": \"ABCDEF\",\n        \"ref_id\": 0,\n        \"total_referral_bet\": 0,\n        \"total_referral_commission\": 0,\n        \"ref_permission\": 0,\n        \"ref_earnings\": 0,\n        \"total_ref_earnings\": 0,\n        \"total_ref_count\": 0,\n        \"total_credit\": 0,\n        \"referral_code\": \"Artemis\",\n        \"referral_amount\": 50,\n        \"muted_until\": 1632354690,\n        \"mute_reason\": \"Other\",\n        \"admin\": 0,\n        \"super_mod\": 0,\n        \"mod\": 0,\n        \"utm_campaign\": \"\",\n        \"country\": \"\",\n        \"is_vac_banned\": 2,\n        \"steam_level\": 343,\n        \"last_steam_level_cache\": \"2021-11-30 07:41:07\",\n        \"whitelisted\": 1,\n        \"total_tips_received\": 0,\n        \"total_tips_sent\": 0,\n        \"withdrawal_fee_owed\": \"0.0000\",\n        \"flags\": 0,\n        \"ban\": null,\n        \"balances\": [],\n        \"level\": 0,\n        \"xp\": 0,\n        \"socket_token\": \"\",\n        \"user_hash\": \"\",\n        \"hashed_server_seed\": \"\",\n        \"intercom_hash\": \"\",\n        \"roles\": [],\n        \"eligible_for_free_case\": false,\n        \"extra_security_type\": \"2fa\",\n        \"total_bet_skincrash\": 0,\n        \"total_bet_matchbetting\": 0,\n        \"total_bet_roulette\": 0,\n        \"total_bet_coinflip\": 0,\n        \"total_bet_supershootout\": 0,\n        \"p2p_telegram_notifications_allowed\": true,\n        \"p2p_telegram_notifications_enabled\": true,\n        \"verified\": false,\n        \"hide_verified_icon\": false,\n        \"unread_notifications\": [],\n        \"last_session\": {},\n        \"email\": \"\",\n        \"email_verified\": false,\n        \"eth_deposit_address\": \"\",\n        \"btc_deposit_address\": \"\",\n        \"ltc_deposit_address\": \"\",\n        \"bch_deposit_address\": \"\",\n        \"steam_inventory_url\": \"https://steamcommunity.com/profiles/76561198106192114/inventory/#730\",\n        \"steam_api_key\": \"\",\n        \"has_crypto_deposit\": true,\n        \"chat_tag\": {},\n        \"linked_accounts\": [],\n        \"api_token\": \"nice try\"\n    },\n    \"socket_token\": \"\",\n    \"socket_signature\": \"\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 303119,
                          "default": 0
                        },
                        "steam_id": {
                          "type": "string",
                          "example": "76561198106192114"
                        },
                        "steam_id_v3": {
                          "type": "string",
                          "example": "145926386"
                        },
                        "steam_name": {
                          "type": "string",
                          "example": "Artemis"
                        },
                        "avatar": {
                          "type": "string",
                          "example": "https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4f/4f619bc788f0d41261d2a5ced0e96a281af88479_full.jpg"
                        },
                        "profile_url": {
                          "type": "string",
                          "example": "https://steamcommunity.com/id/G0FastMen/"
                        },
                        "registration_timestamp": {
                          "type": "string",
                          "example": "2016-07-27 23:20:03"
                        },
                        "registration_ip": {
                          "type": "string",
                          "example": "0.0.0.0"
                        },
                        "last_login": {
                          "type": "string",
                          "example": "2021-11-29 13:02:54"
                        },
                        "balance": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_profit": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_bet": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "betback_total": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "bet_threshold": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_trades": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_deposit": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_withdraw": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "withdraw_limit": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "csgo_playtime": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "last_csgo_playtime_cache": {
                          "type": "string",
                          "example": "2016-07-27 23:20:03"
                        },
                        "trade_url": {
                          "type": "string",
                          "example": "https://steamcommunity.com/tradeoffer/new/?partner=145926386&token=ABCDEF"
                        },
                        "trade_offer_token": {
                          "type": "string",
                          "example": "ABCDEF"
                        },
                        "ref_id": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_referral_bet": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_referral_commission": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "ref_permission": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "ref_earnings": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_ref_earnings": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_ref_count": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_credit": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "referral_code": {
                          "type": "string",
                          "example": "Artemis"
                        },
                        "referral_amount": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "muted_until": {
                          "type": "integer",
                          "example": 1632354690,
                          "default": 0
                        },
                        "mute_reason": {
                          "type": "string",
                          "example": "Other"
                        },
                        "admin": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "super_mod": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "mod": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "utm_campaign": {
                          "type": "string",
                          "example": ""
                        },
                        "country": {
                          "type": "string",
                          "example": ""
                        },
                        "is_vac_banned": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "steam_level": {
                          "type": "integer",
                          "example": 343,
                          "default": 0
                        },
                        "last_steam_level_cache": {
                          "type": "string",
                          "example": "2021-11-30 07:41:07"
                        },
                        "whitelisted": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "total_tips_received": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_tips_sent": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "withdrawal_fee_owed": {
                          "type": "string",
                          "example": "0.0000"
                        },
                        "flags": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "ban": {},
                        "balances": {
                          "type": "array"
                        },
                        "level": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "xp": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "socket_token": {
                          "type": "string",
                          "example": ""
                        },
                        "user_hash": {
                          "type": "string",
                          "example": ""
                        },
                        "hashed_server_seed": {
                          "type": "string",
                          "example": ""
                        },
                        "intercom_hash": {
                          "type": "string",
                          "example": ""
                        },
                        "roles": {
                          "type": "array"
                        },
                        "eligible_for_free_case": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "extra_security_type": {
                          "type": "string",
                          "example": "2fa"
                        },
                        "total_bet_skincrash": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_bet_matchbetting": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_bet_roulette": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_bet_coinflip": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_bet_supershootout": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "p2p_telegram_notifications_allowed": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "p2p_telegram_notifications_enabled": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "verified": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "hide_verified_icon": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "unread_notifications": {
                          "type": "array"
                        },
                        "last_session": {
                          "type": "object",
                          "properties": {}
                        },
                        "email": {
                          "type": "string",
                          "example": ""
                        },
                        "email_verified": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "eth_deposit_address": {
                          "type": "string",
                          "example": ""
                        },
                        "btc_deposit_address": {
                          "type": "string",
                          "example": ""
                        },
                        "ltc_deposit_address": {
                          "type": "string",
                          "example": ""
                        },
                        "bch_deposit_address": {
                          "type": "string",
                          "example": ""
                        },
                        "steam_inventory_url": {
                          "type": "string",
                          "example": "https://steamcommunity.com/profiles/76561198106192114/inventory/#730"
                        },
                        "steam_api_key": {
                          "type": "string",
                          "example": ""
                        },
                        "has_crypto_deposit": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "chat_tag": {
                          "type": "object",
                          "properties": {}
                        },
                        "linked_accounts": {
                          "type": "array"
                        },
                        "api_token": {
                          "type": "string",
                          "example": "nice try"
                        }
                      }
                    },
                    "socket_token": {
                      "type": "string",
                      "example": ""
                    },
                    "socket_signature": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/trading/user/trades": {
      "get": {
        "summary": "Get Active Trades",
        "description": "Returns an array of all items currently being deposited or withdrawn by this account. This does not include bids placed on active items until the auction ends.",
        "operationId": "get-active-trades",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"data\": {\n    \"deposits\": [\n      {\n        \"id\": 11203,\n        \"service_name\": \"csgoempire\",\n        \"service_invoice_id\": 920,\n        \"user_id\": 303119,\n        \"item_id\": 50755,\n        \"items\": [\n          {\n            \"asset_id\": 26876810352,\n            \"created_at\": \"2022-10-14 13:54:35\",\n            \"custom_price_percentage\": 0,\n            \"full_position\": 83,\n            \"icon_url\": \"-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpovbSsLQJf3qr3czxb49KzgL-DjsjwN6vQglRd4cJ5nqeQ89mk2VHg_UpkYjj0JdLGdAFvNAvS81G6kLjq1pHtv5SdnHdhuCYq-z-DyHWIya-0\",\n            \"id\": 50755,\n            \"is_commodity\": false,\n            \"market_name\": \"★ M9 Bayonet | Forest DDPAT (Factory New)\",\n            \"market_value\": 488.82,\n            \"name_color\": \"8650AC\",\n            \"position\": null,\n            \"preview_id\": null,\n            \"price_is_unreliable\": 1,\n            \"tradable\": true,\n            \"tradelock\": false,\n            \"updated_at\": \"2022-10-18 08:46:45\",\n            \"wear\": null\n          }\n        ],\n        \"total_value\": 48882,\n        \"security_code\": \"\",\n        \"tradeoffer_id\": 0,\n        \"trade_id\": 2,\n        \"status\": 2,\n        \"status_message\": \"\",\n        \"metadata\": {\n          \"auction_highest_bid\": null,\n          \"auction_highest_bidder\": null,\n          \"auction_number_of_bids\": 0,\n          \"auction_ends_at\": 1666083002,\n          \"auction_auto_withdraw_failed\": null,\n          \"price_updated_at\": null,\n          \"trade_url\": null,\n          \"partner\": null,\n          \"total_fee\": null,\n          \"fee\": null,\n          \"old_total_value\": null,\n          \"item_position_in_inventory\": null,\n          \"item_inspected\": true,\n          \"expires_at\": null,\n          \"delivery_time\": null,\n          \"phishingScamDetected\": null,\n          \"item_validation\": null,\n          \"penalty\": null\n        },\n        \"item_hash\": \"7d1cacdc3016c134e284ae253543cc3b0fd63942\",\n        \"created_at\": \"2022-10-18 08:47:02\",\n        \"updated_at\": \"2022-10-18 08:47:02\"\n      }\n    ],\n    \"withdrawals\": [\n      \n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deposits": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 11203,
                                "default": 0
                              },
                              "service_name": {
                                "type": "string",
                                "example": "csgoempire"
                              },
                              "service_invoice_id": {
                                "type": "integer",
                                "example": 920,
                                "default": 0
                              },
                              "user_id": {
                                "type": "integer",
                                "example": 303119,
                                "default": 0
                              },
                              "item_id": {
                                "type": "integer",
                                "example": 50755,
                                "default": 0
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "asset_id": {
                                      "type": "integer",
                                      "example": 26876810352,
                                      "default": 0
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "example": "2022-10-14 13:54:35"
                                    },
                                    "custom_price_percentage": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "full_position": {
                                      "type": "integer",
                                      "example": 83,
                                      "default": 0
                                    },
                                    "icon_url": {
                                      "type": "string",
                                      "example": "-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpovbSsLQJf3qr3czxb49KzgL-DjsjwN6vQglRd4cJ5nqeQ89mk2VHg_UpkYjj0JdLGdAFvNAvS81G6kLjq1pHtv5SdnHdhuCYq-z-DyHWIya-0"
                                    },
                                    "id": {
                                      "type": "integer",
                                      "example": 50755,
                                      "default": 0
                                    },
                                    "is_commodity": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "market_name": {
                                      "type": "string",
                                      "example": "★ M9 Bayonet | Forest DDPAT (Factory New)"
                                    },
                                    "market_value": {
                                      "type": "number",
                                      "example": 488.82,
                                      "default": 0
                                    },
                                    "name_color": {
                                      "type": "string",
                                      "example": "8650AC"
                                    },
                                    "position": {},
                                    "preview_id": {},
                                    "price_is_unreliable": {
                                      "type": "integer",
                                      "example": 1,
                                      "default": 0
                                    },
                                    "tradable": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    },
                                    "tradelock": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "updated_at": {
                                      "type": "string",
                                      "example": "2022-10-18 08:46:45"
                                    },
                                    "wear": {}
                                  }
                                }
                              },
                              "total_value": {
                                "type": "integer",
                                "example": 48882,
                                "default": 0
                              },
                              "security_code": {
                                "type": "string",
                                "example": ""
                              },
                              "tradeoffer_id": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "trade_id": {
                                "type": "integer",
                                "example": 2,
                                "default": 0
                              },
                              "status": {
                                "type": "integer",
                                "example": 2,
                                "default": 0
                              },
                              "status_message": {
                                "type": "string",
                                "example": ""
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "auction_highest_bid": {},
                                  "auction_highest_bidder": {},
                                  "auction_number_of_bids": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "auction_ends_at": {
                                    "type": "integer",
                                    "example": 1666083002,
                                    "default": 0
                                  },
                                  "auction_auto_withdraw_failed": {},
                                  "price_updated_at": {},
                                  "trade_url": {},
                                  "partner": {},
                                  "total_fee": {},
                                  "fee": {},
                                  "old_total_value": {},
                                  "item_position_in_inventory": {},
                                  "item_inspected": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "expires_at": {},
                                  "delivery_time": {},
                                  "phishingScamDetected": {},
                                  "item_validation": {},
                                  "penalty": {}
                                }
                              },
                              "item_hash": {
                                "type": "string",
                                "example": "7d1cacdc3016c134e284ae253543cc3b0fd63942"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2022-10-18 08:47:02"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2022-10-18 08:47:02"
                              }
                            }
                          }
                        },
                        "withdrawals": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/trading/user/auctions": {
      "get": {
        "summary": "Get Active Auctions",
        "description": "Returns an array of all auctions currently being bid on by this account.",
        "operationId": "get-active-auctions",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"active_auctions\": [\n    {\n      \"auction_ends_at\": 1666083221,\n      \"auction_highest_bid\": 227,\n      \"auction_highest_bidder\": 303119,\n      \"auction_number_of_bids\": 1,\n      \"custom_price_percentage\": 0,\n      \"icon_url\": \"-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUmqBwTTR7SQb37g5vWCwlxdFEC5uyncgZi0vGQJWwQudm0xtTexaD2ZOmClyVB5sL8h7mCHA\",\n      \"is_commodity\": true,\n      \"market_name\": \"Name Tag\",\n      \"market_value\": 227,\n      \"name_color\": \"D2D2D2\",\n      \"preview_id\": null,\n      \"price_is_unreliable\": true,\n      \"stickers\": [\n        \n      ],\n      \"wear\": null,\n      \"published_at\": \"2022-10-18T08:51:02.803761Z\",\n      \"id\": 11204,\n      \"depositor_stats\": {\n        \"delivery_rate_recent\": 0.6,\n        \"delivery_rate_long\": 0.7567567567567568,\n        \"delivery_time_minutes_recent\": 7,\n        \"delivery_time_minutes_long\": 7,\n        \"steam_level_min_range\": 5,\n        \"steam_level_max_range\": 10,\n        \"user_has_trade_notifications_enabled\": false,\n        \"user_is_online\": null\n      },\n      \"above_recommended_price\": -5\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "active_auctions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "auction_ends_at": {
                            "type": "integer",
                            "example": 1666083221,
                            "default": 0
                          },
                          "auction_highest_bid": {
                            "type": "integer",
                            "example": 227,
                            "default": 0
                          },
                          "auction_highest_bidder": {
                            "type": "integer",
                            "example": 303119,
                            "default": 0
                          },
                          "auction_number_of_bids": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "custom_price_percentage": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "icon_url": {
                            "type": "string",
                            "example": "-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUmqBwTTR7SQb37g5vWCwlxdFEC5uyncgZi0vGQJWwQudm0xtTexaD2ZOmClyVB5sL8h7mCHA"
                          },
                          "is_commodity": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "market_name": {
                            "type": "string",
                            "example": "Name Tag"
                          },
                          "market_value": {
                            "type": "integer",
                            "example": 227,
                            "default": 0
                          },
                          "name_color": {
                            "type": "string",
                            "example": "D2D2D2"
                          },
                          "preview_id": {},
                          "price_is_unreliable": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "stickers": {
                            "type": "array"
                          },
                          "wear": {},
                          "published_at": {
                            "type": "string",
                            "example": "2022-10-18T08:51:02.803761Z"
                          },
                          "id": {
                            "type": "integer",
                            "example": 11204,
                            "default": 0
                          },
                          "depositor_stats": {
                            "type": "object",
                            "properties": {
                              "delivery_rate_recent": {
                                "type": "number",
                                "example": 0.6,
                                "default": 0
                              },
                              "delivery_rate_long": {
                                "type": "number",
                                "example": 0.7567567567567568,
                                "default": 0
                              },
                              "delivery_time_minutes_recent": {
                                "type": "integer",
                                "example": 7,
                                "default": 0
                              },
                              "delivery_time_minutes_long": {
                                "type": "integer",
                                "example": 7,
                                "default": 0
                              },
                              "steam_level_min_range": {
                                "type": "integer",
                                "example": 5,
                                "default": 0
                              },
                              "steam_level_max_range": {
                                "type": "integer",
                                "example": 10,
                                "default": 0
                              },
                              "user_has_trade_notifications_enabled": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "user_is_online": {}
                            }
                          },
                          "above_recommended_price": {
                            "type": "integer",
                            "example": -5,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/trading/user/settings": {
      "post": {
        "summary": "Settings",
        "description": "Used to update your trade URL.",
        "operationId": "settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "{\"trade_url\":\"full_trade_url_here\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"escrow_seconds\": 0\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "escrow_seconds": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/user/transactions": {
      "get": {
        "summary": "Transaction History",
        "description": "Used to get your transaction history.",
        "operationId": "transaction-history",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_number": {
                    "type": "integer",
                    "description": "Insert the requested page number here.",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"current_page\": 1,\n    \"data\": [\n        {\n            \"id\": 54773614,\n            \"key\": \"withdrawal_invoices\",\n            \"type\": \"Steam Auction Bid Withdrawal\",\n            \"balance\": 17543153,\n            \"delta\": -227,\n            \"balance_after\": 17542926,\n            \"timestamp\": 1666083061.355,\n            \"timestamp_raw\": 1666083061355,\n            \"date\": \"2022-10-18 08:51:01\",\n            \"invoice_id\": null,\n            \"data\": {\n                \"id\": 69,\n                \"processor_name\": \"Steam\",\n                \"status\": 200,\n                \"status_name\": \"Created\",\n                \"metadata\": {\n                    \"deposit_id\": 11204,\n                    \"payment_method\": \"auction_bid\",\n                    \"id\": 11204,\n                    \"auction_highest_bid\": 227,\n                    \"auction_highest_bidder\": 303119,\n                    \"auction_number_of_bids\": 1,\n                    \"auction_ends_at\": 1666083221\n                }\n            }\n        }\n    ],\n    \"first_page_url\": \"user/transactions?page=1\",\n    \"from\": 1,\n    \"last_page\": 2499,\n    \"last_page_url\": \"user/transactions?page=2499\",\n    \"links\": [\n        {\n            \"url\": null,\n            \"label\": \"&laquo; Previous\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=1\",\n            \"label\": \"1\",\n            \"active\": true\n        },\n        {\n            \"url\": \"user/transactions?page=2\",\n            \"label\": \"2\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=3\",\n            \"label\": \"3\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=4\",\n            \"label\": \"4\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=5\",\n            \"label\": \"5\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=6\",\n            \"label\": \"6\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=7\",\n            \"label\": \"7\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=8\",\n            \"label\": \"8\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=9\",\n            \"label\": \"9\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=10\",\n            \"label\": \"10\",\n            \"active\": false\n        },\n        {\n            \"url\": null,\n            \"label\": \"...\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=2498\",\n            \"label\": \"2498\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=2499\",\n            \"label\": \"2499\",\n            \"active\": false\n        },\n        {\n            \"url\": \"user/transactions?page=2\",\n            \"label\": \"Next &raquo;\",\n            \"active\": false\n        }\n    ],\n    \"next_page_url\": \"user/transactions?page=2\",\n    \"path\": \"user/transactions\",\n    \"per_page\": 1,\n    \"prev_page_url\": null,\n    \"to\": 1,\n    \"total\": 2499\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 54773614,
                            "default": 0
                          },
                          "key": {
                            "type": "string",
                            "example": "withdrawal_invoices"
                          },
                          "type": {
                            "type": "string",
                            "example": "Steam Auction Bid Withdrawal"
                          },
                          "balance": {
                            "type": "integer",
                            "example": 17543153,
                            "default": 0
                          },
                          "delta": {
                            "type": "integer",
                            "example": -227,
                            "default": 0
                          },
                          "balance_after": {
                            "type": "integer",
                            "example": 17542926,
                            "default": 0
                          },
                          "timestamp": {
                            "type": "number",
                            "example": 1666083061.355,
                            "default": 0
                          },
                          "timestamp_raw": {
                            "type": "integer",
                            "example": 1666083061355,
                            "default": 0
                          },
                          "date": {
                            "type": "string",
                            "example": "2022-10-18 08:51:01"
                          },
                          "invoice_id": {},
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 69,
                                "default": 0
                              },
                              "processor_name": {
                                "type": "string",
                                "example": "Steam"
                              },
                              "status": {
                                "type": "integer",
                                "example": 200,
                                "default": 0
                              },
                              "status_name": {
                                "type": "string",
                                "example": "Created"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "deposit_id": {
                                    "type": "integer",
                                    "example": 11204,
                                    "default": 0
                                  },
                                  "payment_method": {
                                    "type": "string",
                                    "example": "auction_bid"
                                  },
                                  "id": {
                                    "type": "integer",
                                    "example": 11204,
                                    "default": 0
                                  },
                                  "auction_highest_bid": {
                                    "type": "integer",
                                    "example": 227,
                                    "default": 0
                                  },
                                  "auction_highest_bidder": {
                                    "type": "integer",
                                    "example": 303119,
                                    "default": 0
                                  },
                                  "auction_number_of_bids": {
                                    "type": "integer",
                                    "example": 1,
                                    "default": 0
                                  },
                                  "auction_ends_at": {
                                    "type": "integer",
                                    "example": 1666083221,
                                    "default": 0
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "first_page_url": {
                      "type": "string",
                      "example": "user/transactions?page=1"
                    },
                    "from": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "last_page": {
                      "type": "integer",
                      "example": 2499,
                      "default": 0
                    },
                    "last_page_url": {
                      "type": "string",
                      "example": "user/transactions?page=2499"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {},
                          "label": {
                            "type": "string",
                            "example": "&laquo; Previous"
                          },
                          "active": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          }
                        }
                      }
                    },
                    "next_page_url": {
                      "type": "string",
                      "example": "user/transactions?page=2"
                    },
                    "path": {
                      "type": "string",
                      "example": "user/transactions"
                    },
                    "per_page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "prev_page_url": {},
                    "to": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "total": {
                      "type": "integer",
                      "example": 2499,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}